%html
  %head
    %title Nagilista: NOT FOUND
    %link(rel="stylesheet" href="/css/nagix.css")

%body
  #page
    #header
      %h2 NOT FOUND
    #nav
      %a{:title => "Home", :href => "/"} Home
      |
      %a{:title => "Nagios", :href => "/nagios"} Nagios

    #content
      #showbox
        %h1 NOT FOUND

  #copyright
    %p Powered by Nagilista v0.0.1.